* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #D8D8D8;
  color: #2e8540;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

menu {
  display: flex;
  align-items: center;
  background-color: #212121;
}

menu.hidden {
  display: none;
}

menu > button#open-menu {
  width: 48px;
  height: 48px;
  background-image: url(./src/static/menu.svg);
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.links > li > a {
  font-size: 28px;
  color: #2e8540;
  text-decoration: none;
}

menu > .links {
  display: none;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.7);
}

#sidebar.hidden {
  display: none;
}

main {
  width: 100%;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 600px) {
  menu {
    width: 100%;
    height: 60px;
    justify-content: center;
  }

  menu.hidden {
    display: flex;
  }

  menu > button#open-menu {
    display: none;
  }

  menu > .links {
    display: flex;
    flex-direction: row;
  }
  
  .links > li > a:hover {
    font-size: 32px;
    transition: font-size .3s;
  }

  #sidebar {
    display: none;
  }
}